        /*
        .row .column1 {
              float: left;
              width: 10%;
              border-width: 3px;
              border-style: double;
        }
        */
        .row .column1 {
              float: left;
              width: 10%;
              
        }
        .row .column2 {
              float: left;
              width: 20%;
              
        }
        .row .column3 {
              float: left;
              width: 20%;
              
        }
        .row .column4 {
              float: left;
              width: 20%;
              
        }
        .row .column5 {
              float: left;
              width: 20%;
              
        }

        /* Clear floats after the columns */
        .row:after {
              content: "";
              display: table;
              clear: both;
        }
        .science {color: red;}
        #add-new-todo-button{
                font-size: 20px;
                text-align: center;
                color: #FFF;
                outline: none;
                border-style: none;
                padding: 10px;
                border-radius: 3px;
                box-shadow: 2px 2px 1px #90A4AE;
                display: block;
                background-color: #03A900; 
                /*background-color: #03A9F4; */
                margin-top: 10px;
           }
            #add-new-todo-button:active{
                    box-shadow: 1px 1px 1px #90A4AE;
           }
            li{
            padding: 5px;
            margin-bottom:10px;
           }
           .box-one{
  background-color: #E74C3C;
  color: #ECF0F1;
}

.box-two{
  background-color: #3498DB;
  color: #ECF0F1;
}
div{
  background-color: #F1C40F;
}

span{
  background-color: #34495e;
  color: #ECF0F1;
}
        
        
        
        
